@import 'tailwindcss';

@theme {
	/* Fonts */
	--font-syne: var(--font-syne);
	--font-manrope: var(--font-manrope);

	/* Colors */
	--color-primary: #8b5fff;
	--color-secondary: #b08fff;
	--color-accent: #5ed4ff;

	--color-primary-text: #ffffff;
	--color-secondary-text: #b4b4c8;
	--color-disabled-text: #6e6e80;

	--color-bg: #0a0a0f;
}
